/*
 *
 * MMM-WeasleyClock CSS File
 *
 * Brian Hepler
 * MIT Licensed.
 *
 */

@font-face {
	font-family: Calligraphica;
	font-style: cursive;
	font-weight: 100;
  
	src:
	  local("calligraphica"),
	  url("fonts/Kingthings_Calligraphica_2.ttf") format("truetype");
  
  }

