/*
 *
 * MMM-WeasleyClock CSS File
 *
 * Brian Hepler
 * MIT Licensed.
 *
 */

@font-face {
	font-family: Calligraphica;
	font-style: cursive;
	font-weight: 100;
  
	src:
	  local("Calligraphica"),
	  url("fonts/Kingthings_Calligraphica_2.ttf") format("truetype");
  
  }

.MMM-WeasleyClock td.location {
	font-family: cursive;
}

.MMM-WeasleyClock td.person {
	font-family: cursive;
}

.MMM-WeasleyClock .location {
	font-family: "Calligraphica", "satisfy", cursive;
	font-size: 0.5em;
	text-anchor: middle;
}

.MMM-WeasleyClock .hand {
	font-family: "Calligraphica", "satisfy", cursive;
	font-size: 0.5em;
}
