/*
 *
 * MMM-WeasleyClock CSS File
 *
 * Brian Hepler
 * MIT Licensed.
 *
 */
 #face {
	stroke-width: 2px; stroke: #fff; 
}
#hour, #min, #sec {
	stroke-width: 1px; fill: #333; stroke: #555;
}
#sec { stroke: #f55; }